<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
    <title>Fluxo De Caixa</title>

    <style>
        :root {
            --menu-size: 250px;
        }

        * {
            margin: 0;
            padding: 0;
            border: none;
            box-sizing: border-box;
            outline: none;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        }

        body {
            background-color: #eee;
        }

        header {
            background-color: rgb(21, 22, 29);
            padding: 10px;
            text-align: center;
        }

        .content {
            max-width: 800px;
            width: 100%;
            margin: 0 auto;
            margin-top: 50px;
        }

        #btnMenu {
            cursor: pointer;
            padding: 5px;
            transition: all 0.5s;
        }

        #btnMenu:hover {
            border-radius: 50%;
            cursor: pointer;
            background-color: rgb(41, 57, 98);
        }

        #btnMenu:active {
            background-color: rgb(3, 4, 7);
        }

        #btnClose {
            padding: 8px;
            background-color: rgb(193, 223, 60);
            color: #fff;
            font-size: 40px;
            font-weight: bold;
        }

        #btnClose:active {
            background-color: rgb(151, 73, 73);
        }

        .menu {
            position: fixed;
            top: 0;
            width: var(--menu-size);
            height: 100%;
            background-color: rgb(40, 42, 54);
        }

        .menu2 {
            position: fixed;
            top: 0;
            width: 100%;
            height: var(--menu-size);
            background-color: rgb(210, 21, 21);
        }

        .menu ul {
            list-style: none;
        }

        .menu ul li {
            display: block;
        }

        .menu ul li a {
            transition: background 0.3s;
            display: block;
            color: #fff;
            font-size: 19px;
            text-decoration: none;
            text-transform: uppercase;
            padding: 10px 15px;
        }

        .menu ul li a:hover {
            background-color: rgb(49, 54, 85);
        }

        .effect {
            transition: margin 0.4s;
        }

        .teste {
            margin-top: 50px;
        }

        .cadcontateste {
            /* background-color: rgb(249, 7, 7); */
            background-color: #636161;
            margin-bottom: 10px;
        }

        .tituloMenu {
            font-size: 22pt;
            margin-left: 48%;
            color: white;
            list-style-type: none;
            font-weight: bold;
            position: absolute;

        }
        .corpo {
            font-size: 22pt;
            margin-left: 48%;
            color: green;
            list-style-type: none;
            font-weight: bold;
            position: absolute;

        }
        .imagem {
            display: flex;
            align-self:center;
            margin-left: 300px;
            margin-top: 30px;
        }

        .bt-logout {
            margin-top: 140%;
            background-color: #636161;
            margin-bottom: 10px;
            text-align: center;
        }

        @media (min-width: 768px) {
            #btnClose {
                display: none;
            }
        }
    </style>

    <link rel="preload" href="assets/css/style.css" as="style">
    <link rel="preload" href="assets/js/script.js" as="script">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>

    <nav class="navbar navbar-light" style="background-color: #636161; width: auto; height: 50px; position: inherit;">
        <li class="tituloMenu">FLUXO DE CAIXA</li>
    </nav>

    <div id="menu" class="menu effect">
        <nav>
            <ul class="teste">
                <li class="cadcontateste"><a href="/cadconta">Nova Conta</a></li>
                <li class="cadcontateste"><a href="/fornecedores">Fornecedores</a></li>
                <li class="cadcontateste"><a href="/lancamentos">Lançamentos</a></li>
                <li class="bt-logout"><a href="/logout">Sair do Sistema</a></li>
            </ul>
        </nav>

    </div>


    <script src="/model/script.js"></script>

    <div class="imagem">
        <img src='../imagens/dashboard.png' >
        
    </div>
    

</body>


</html>