<!DOCTYPE html>
<html lang="en">
    <!-- modal de aviso se o e-mail j치 est치 cadastrado no banco -->

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>
        
        <!-- folha de estilos -->
        <style>
            body {
                /* background: linear-gradient(-90deg, blue, red, purple); */
                background: linear-gradient(-90deg, white, gray, lightblue);
            }

            .ue {
                padding: 15px;
                height: 70vh;
                background: transparent;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .ue-container {
                max-height: 510px;
                width: 300px;
                background-color: rgb(206, 210, 220);
                box-sizing: border-box;
                padding: 32px;
                border-radius: 8px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
    
        </style>
    </head>

    <body>
        <div id="ue-modal" class="modal">
            <div class="modal-content">
                <main class="ue">
                    <div class="ue-container">
                        
                        <h2 class = "ue-title"> Usu치rio j치 Cadastrado!</h2>
                        <p>
                            <a href="/cadastrar">Cadastrar Outro?</a>
                        </p>
                    </div>
                </main>
            </div>
        </div>
    </body>

</html>